
<div class="row rounded" style="background-image: url(assets/img/home/backgr1.jpg); padding-top: 5rem; padding-bottom: 5rem;">
  <div class="col-12">
    <h1 class="display-4 text-center text-white floating">Venator</h1>
  </div>
</div>
<div class="row py-5">
  <div class="col-12 text-justify lead" style="font-size: 1.5rem;">
    <p>
      Venator – комп'ютерна гра в жанрі пригода з елементами RPG. Проходити гру можна як самому так і в режимі мультиплеер.
      Дії розгортаються у часи середньовіччя у маленькому селищі біля річки. Кожна дія гравця має наслідки
      та може мати вплив на хід його особистої історії.
    </p>
  </div>
</div>
<div class="row border border-dark rounded" style="background-image: url(assets/img/home/backgr2.jpg);">
  <div class="col-12">
    <h3 class="display-5 text-center">Механіки</h3>
  </div>
</div>
<div class="row text-center py-4 text-decoration-underline" style="font-size: 1.5rem;">
  <div class="col-4">
    Бій на ножах
  </div>
  <div class="col-4">
    Бій на мечах
  </div>
  <div class="col-4">
    Пальба з лука
  </div>
</div>
<div class="row pb-5" style="font-size: 1.25rem;">
  <div class="col-4">
    <img src="../../assets/img/home/knife.jpg" class="img-fluid rounded" />
    <br><br>
    Удари наносяться з великою швидкістю та наносять низьку шкоду противнику.
  </div>
  <div class="col-4">
    <img src="../../assets/img/home/sword.jpg" class="img-fluid rounded" />
    <br><br>
    Удари наносяться з повільною швидкістю, але наносять велику шкоду противнику.
    Під час битви за допомогою меча, гравець може провести комбо – коли двічі наступний удар наноситься в той же час,
    коли закінчився попередній, можна завдати третього удару, який завдасть більшої шкоди, ніж звичайний.
  </div>
  <div class="col-4">
    <img src="../../assets/img/home/bow.jpg" class="img-fluid rounded" />
    <br><br>
    Персонаж може завдавати певну кількість шкоди на відстані, не отримуючи її у відповідь.
    Рекомендується використовувати під час полювання, щоб не отримувати великої шкоди від тварин.
  </div>
</div>
<div class="row py-3">
  <div class="col-12 border border-dark rounded" style="background-image: url(assets/img/home/backgr2.jpg);">
    <h3 class="display-5 text-center">Чим зайнятися?</h3>
  </div>
</div>
<div class="row text-center py-4 text-decoration-underline" style="font-size: 1.5rem;">
  <div class="col-4">
    Полювання
  </div>
  <div class="col-4">
    Квести
  </div>
  <div class="col-4">
    Битва
  </div>
</div>
<div class="row pb-3" style="font-size: 1.25rem;">
  <div class="col-4">
    <img src="../../assets/img/home/hunt.jpg" class="img-fluid rounded" />
    <br><br>
    Для полювання потрібно вирушити до лісу. Не забудьте взяти із собою лук, щоб не підходити близько до тварин, так
    як вони нападуть щойно помітять вас. Вирушайте на полювання разом з друзями, оскільки це підвищить шанс на успіх.
  </div>
  <div class="col-4">
    <img src="../../assets/img/home/quest.jpg" class="img-fluid rounded" />
    <br><br>
    Пройдіть цікаву історію один або разом з друзями. Для цього потрібно підійти до продавця на ринку
    та взяти в нього завдання.
  </div>
  <div class="col-4">
    <img src="../../assets/img/home/battle.jpg" class="img-fluid rounded" />
    <br><br>
    Перевірте своє спорядження, вступивши у битву із охоронцями селища. Але пам'ятайте: легкого шляху не буде. Як тільки
    ви на нього нападете, на вас відразу ж нападе решта охоронців, що знаходяться поблизу.
  </div>
</div>
<div class="row pb-3 text-center lead">
  <div class="col-12">
    Для того щоб грати в режимі мультиплеер, необхідно зареєструватися.
  </div>
</div>

