<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Venator</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="font-size: 1.25rem;"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/store']">Магазин</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/news']">Новини</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/forum']">Форум</a>
          </li>

          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/messages']">Повідомлення</a>
          </li>
          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/recommendations']">Рекомендації</a>
          </li>
          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/cart']">Кошик</a>
          </li>

          <li *ngIf="!isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/login']">Вхід</a>
          </li>
          <li *ngIf="!isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/registration']">Реєстрація</a>
          </li>

          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']" style="margin-right: 2rem;">
            <a class="nav-link text-dark" [routerLink]="['/profile']">{{username}}</a>
          </li>
          <li *ngIf="isAuthorized">
            <button type="button" class="btn btn-light" (click)="logout()" style="font-size: 1.25rem;">Вийти</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
